name: run feed_test.py

on:
  schedule:
    - cron: '0 12 * * *' # At 12:00 UTC everyday
  workflow_dispatch: #manually trigger action

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v3 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute py script # run main.py
        run: python feed_test.py
          
      - name: commit files
        run: |
          git config --global user.name 'helios1014'
          git config --global user.email 'helios1014@users.noreply.github.com'
          git commit -am 'updated csv'
          git push